.formHome {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 32px;
  background-color: bisque;
  padding: 32px;
}

.wrapperFilters {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.wrapperFilter {
  margin-right: 16px;
}

.wrapperRandomАdvertisement {
  display: flex;
  justify-content: center;
  gap: 25px;
  padding: 16px;
  flex-wrap: wrap;
}

.card-body {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.search {
  margin-top: 20px;
}
