body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

main {
  flex: 1;
}

.wrapperHome {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.btn-a {
  padding-bottom: 15px;
  color: white;
}

footer {
  background-color: darkslateblue;
}